@tailwind base;
@tailwind components;
@tailwind utilities;



.the-container{
    width: 13%;
    height: 30rem;
    display: block;
    overflow-y: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    margin-top: 0.4rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */


}

.the-container::-webkit-scrollbar{
    display: none;
}

.background-price{
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-right: 6rem;   
}

.background-price button{
    font-weight: 600;
    margin: 0 1rem;
    padding: 0.4rem 0.8rem;
}

.background-price button:hover{
   scale: 1.1;
}

.codes{
    width: 10rem;
    height: 13rem;
    display: block;
    overflow-y: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    font-size: 1.4rem;
    position: absolute;
    z-index: 2;
   
}

.codes::-webkit-scrollbar{
    display: none;
}


.price-container{
    font-size: 1.2rem;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}

nav div{
    margin-right: 3rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 50px;
    height: 50px;
    background: url("https://images.unsplash.com/photo-1521119989659-a83eee488004?q=80&w=50&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
}

ul{
    margin-left: 2rem;
}

li{
    color: white;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    margin: 0 1rem;
}

li:hover{
    color: gold
}

.pop-up-menus{
    position: absolute;
    top: 6;
    left: 5rem;
    z-index: 2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
    
}
.big{
    width: 40%;
    color: white;
    font-weight: 900;
    position: relative;
}

.big input{
    color: gray;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    border: none;
    width: 13rem;
    

}
.more-prices-container{
    height: 6rem;
    width:  100%rem;
    display: block;
    overflow:scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    width: 22rem;
    border: black 3px solid;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: grey;
    border-radius: 1rem;
}

.phone:hover{
    border: goldenrod 3px solid;
}

.phone select{
    width: 7rem;
}
.phone select:focus{
   outline: none;
}


.big input:focus{
outline: none;
}




.new-crypto{
    position: absolute;
    top: 6;
    left: 20rem;
    z-index: 3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
}


.container-market div{
  display: flex;
  flex-direction: column;
  gap: 1rem
  
}

form{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form input{
    font-size: smaller;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

form input:focus{
 outline: none;
}

form p{

    font-size: 0.9rem;
}

.foto{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 100vh;
    width: 50%;
    background: url("https://images.unsplash.com/photo-1621504450181-5d356f61d307?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center/cover;
}
